<h1>Hardware</h1>
<div class="container">
  <h2 style="font-size: 40px;">Racks</h2>




  <div class="card__container">
    <article class="card__article">
      <img src="assets/rack-chico.jpg" height="50%"  alt="Rack RK12WALHM">
      <div class="card__data">
        <h2 class="card__title">RK12WALHM</h2>
        <p class="card__button">Rack pequeño con anclajes para ser montado en un muro que tiene una puerta trasera con
          bisagras para facilitar el acceso a su equipo.
          • Características:
          • 12 pisos
          • Rieles a una posición de 19” mediante cubos de fijación
          • Puertas ventiladas</p>
        </div>
      </article>
      <article class="card__article" style="width: 50%;">
        <img src="assets/rack-grande.png" height="50%" alt="Rack OPGAPI8042PSH">
      <div class="card__data">
        <h2 class="card__title">OPGAPI8042PSH</h2>
        <p class="card__button">Es una opción robusta y muy utilizada en centros de datos debido a sus especificaciones,
          que están orientadas a alojar equipos de alto rendimiento.
          Características:
          • 42 pisos
          • Rieles a una posición de 19” mediante cubos de fijación
          • Contiene organizadores verticales
          • Puertas ventiladas</p>
        </div>
    </article>
  </div>

  <h2 style="font-size: 40px;">Servidores</h2>
  <div class="card__container">
    <article class="card__article">
      <img src="assets/sr635-servidor.jpg" alt="ThinkSystem SR650 V3 Rack Server" style="
        position: absolute;
        top: 100px;
        ">
      <div class="card__data">
        <h2 class="card__title">ThinkSystem SR650 V3 Rack Server</h2>
        <p class="card__button">Un servidor de alto rendimiento con capacidad para cargas de trabajo pesadas y
          configuraciones de almacenamiento flexible. Es ideal para hosting de aplicaciones y bases de datos.
          Características:
          • Hasta 2 procesadores Intel® Xeon® Scalable de 5.ª generación y hasta 64 núcleos y un TDP de 350 W
          • Hasta 20 unidades de 3,5” o 40 unidades de 2,5”
          • Hasta 36 unidades NVMe con adaptadores retimer PCI
          • Admite hasta 32 módulos TruDDR5 3DS/RDIMM
          • Hasta 8 GPU de ancho simple o 3 GPU de doble ancho</p>
        </div>
      </article>
      <article class="card__article">
        <img src="assets/thinksystem-servidor.png" alt="ThinkSystem SR635 V3">
        <div class="card__data">
          <h2 class="card__title">ThinkSystem SR635 V3</h2>
          <p class="card__button">Este servidor ofrece escalabilidad, con varias opciones de almacenamiento y memoria, y
            cuenta con buenas características de seguridad.
            Características:
          • Dispositivo: ThinkSystem SR635 V3
          • Un procesador AMD EPYC™ de 4.ª generación o 5.ª generación
          • 12 ranuras DIMM TruDDR5 con 1 DPC
          • Hasta 12 bahías para unidades hot-swap de 2,5" (combinaciones de SAS/SATA, NVMe o AnyBay™)
          • Hasta 4 GPU de ancho simple</p>
        </div>
    </article>
  </div>

  <h2 style="font-size: 40px;">Switches</h2>
  <div class="card__container">
  <article class="card__article">
    <img src="assets/switch.jpg" alt="Switch S5810-48FS">
    <div class="card__data">
      <h2 class="card__title">S5810-48FS</h2>
      <p class="card__button">
        Ofrece funciones de switching de capa 3 y seguridad avanzada. Es robusto para el uso en centros de datos y
        permite la configuración de VLANs para segmentación.
        Características:
        • 48 puertos SFP, (48x 1G SFP y 4x 1G/10G SFP+)
        • Tecnología IPv4/IPv6 de doble pila
        • Soporta funciones LACP, ACL, MPLS, servidor DHCP, multidifusión L2
        • Soporta funciones de capa 3 (RIP, OSPF, VRRP, etc)</p>
    </div>
  </article>
  <article class="card__article">
    <img src="assets/switch-telefonia.png" alt="Switch de Telefonía">
    <div class="card__data">
      <h2 class="card__title">IP-PBX 3000</h2>
      <p class="card__button">Administra las llamadas, usuarios, extensiones y conexiones a líneas externas.
        Caracterísitcas:
        • Soporta de 100 a 3000 extensiones, dependiendo de la configuración.
        • Compatible con SIP para gestionar llamadas VoIP.
        • Respuesta automática (IVR).
        • Integración con CRM y otras herramientas empresariales.</p>
    </div>
  </article>
  <article class="card__article">
    <img src="assets/kvm.jpg" alt="KVM Switch">
    <div class="card__data">
      <h2 class="card__title">ExpreZo EZswitch EZ-116 KVM</h2>
      <p class="card__button">Permite administrar varios servidores desde una sola consola para mantenimiento y
        resolución de problemas.
        Características:
        • Admite conmutar 16 computadoras</p>
    </div>
  </article>
</div>
<h2 style="font-size: 40px;">Routers</h2>
<div class="card__container">
  <article class="card__article">
    <img src="assets/router.jpg" alt="Router">
    <div class="card__data">
      <h2 class="card__title">MikroTik CRS518-16XS-2XQ-RM</h2>
      <p class="card__button">Características:
        • 2 puertos QSFP28 de 100 Gbps
        • 16 puertos SFP28 de 25 Gbps
        • Procesador QCA9531 de 650 MHz con arquitectura MIPSBE.
        • Chip de conmutación Marvell Prestera Aldrin2 para gestionar el tráfico de manera eficiente.
        • Memoria RAM de 64 MB DDR2 y almacenamiento Flash de 16 MB.
        • Sistema operativo RouterOS v7 preinstalado. </p>
    </div>
  </article>
</div>
<h2 style="font-size: 40px;">Firewall</h2>
<div class="card__container">
  <article class="card__article">
    <img src="assets/forti.png" alt="Firewall FortiGate">
    <div class="card__data">
      <h2 class="card__title">FortiGate-200F</h2>
      <p class="card__button">Ofrece control de aplicaciones y detección de amenazas en tiempo real.
        Características:
        • 16 puertos GE RJ45
        • 1 GE RJ45 Gestión / HA
        • 2 ranuras 10 GE SFP+ FortiLink (por defecto)
        • 2 ranuras SFP+ de 10 GE
        • 480 GB de almacenamiento integrado
        • 8 CPUs </p>
    </div>
  </article>
</div>

<h2 style="font-size: 40px;">UPS y PDU</h2>
<div class="card__container">
  <article class="card__article">
    <img src="assets/ups.jpg" alt="UPS">
    <div class="card__data">
      <h2 class="card__title">APC Smart-UPS 1500VA</h2>
      <p class="card__button">Proveen energía en caso de interrupciones eléctricas, permitiendo un apagado seguro o una
        transición a generadores. </p>
    </div>
  </article>
  <article class="card__article">
    <img src="assets/pdu.png" alt="PDU">
    <div class="card__data">
      <h2 class="card__title">PDU (Power Distribution Units)</h2>
      <p class="card__button">Distribuyen la energía de manera uniforme en el rack y monitorean el consumo eléctrico de
        cada dispositivo.</p>
    </div>
  </article>
</div>
</div>
