<div class="refrigeracion">
  <h1>Refrigeración</h1>
  <p>
    Basado en 2 criterios principales:
  </p>
  <ul>
    <li>
      <p>Funcionalidad:Adecuado para la capacidad, dimensiones y características. </p>
    </li>
    <li>
      Confiabilidad: Continuidad de servicio con la mejor tecnología.
    </li>
  </ul>
  <img src="" alt="Refrigeración de servidores">
  <strong>Área de servidores</strong>
  <p>Con un área de 358.174 m² se necesita una capacidad de enfriamiento de 290,000 BTU. Para esa demanda se usa el
    aire acondicionado Liebert DSE Free Cooling System.</p>
  <img src="" alt="Refrigeración del edificio">
  <strong>Resto del edificio</strong>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed at ipsum vitae lacus lobortis lacinia. Donec
    tristique arcu massa, at</p>

</div>
