<div class="diseno-centro">
  <div class="titulo-diseno">
    <h1>Diseño del Centro de Datos</h1>
  </div>
  <div class="texto-diseno">
    <strong>Evaluación del espacio</strong>
    <p>Ubicado en el municipio de Hidalgo del Parral, en la calle Ferrocarril Central, se encuentran varios terrenos

      En donde se cuenta con acceso a fibra óptica de la compañía telefónica de Telmex. </p>

    <strong>Exterior</strong>
    <p>El perímetro externo del centro de datos está construido con muros de block y ladrillo, con un grosor de 20
      cm, proporcionando una barrera robusta y resistente a las condiciones climáticas y ofreciendo seguridad
      estructural. Estos muros están reforzados por columnas de 20 cm de ancho, colocadas estratégicamente para
      sostener la estructura, entre cada columna hay una separación máxima de 7 metros.

      Entre estas columnas, se han incorporado castillos de 15 cm de ancho, que sirven como refuerzos adicionales,
      distribuidos a no más de 3 a 4 metros de distancia uno del otro, garantizando la estabilidad de los muros.</p>
  </div>
  <img src="" alt="Piso del centro de datos">
  <strong>Piso</strong>
  <p> Está hecho de concreto pulido, resistente y duradero, que soporta el peso de los equipos sin deteriorarse.
    Este material también facilita la limpieza y el mantenimiento. </p>
  <p> La fachada del edificio esta diseñada con un enfoque modular, permitiendo la integración de elementos
    fotovoltaicos y sistemas de ventilación que optimizan el consumo energético, algo esencial en los centros de
    datos modernos. </p>
  <img src="" alt="Puerta del centro de datos">
  <strong>Puertas</strong>
  <p> Las puertas de acceso al centro de datos, tanto para el personal como para los equipos, tienen un ancho de 1
    metro y una altura de 2.10 metros, diseñadas para facilitar el movimiento de servidores y otros equipos de gran
    tamaño. </p>
  <img src="" alt="Techo del centro de datos">
  <strong>Techo</strong>
  <p> El techo del edificio lleva una losa nervada de concreto, ubicada a 3.80 metros de altura, permitiendo una
    adecuada circulación del aire y espacio suficiente para los sistemas de climatización necesarios para mantener
    los equipos a temperaturas óptimas. </p>
  <img src="" alt="Interior del centro de datos">
  <strong>Interior</strong>
  <p> El interior del centro de datos está pensado para ser funcional y flexible. Las divisiones internas están
    hechas de tabla roca de 10 cm de grosor, proporcionando un ambiente más ligero, ideal para la configuración de
    oficinas y áreas técnicas dentro del centro de datos. </p>
  <p> Este diseño tiene en cuenta la facilidad de mantenimiento y expansión futura, dado que los espacios han sido
    distribuidos de manera cuadrada y equilibrada para minimizar cualquier complicación durante la construcción y el
    uso del centro de datos. </p>
</div>
