<main>
  <div class="presentacion">
    <video autoplay muted playsinline loop id="myVideo" height="10%" width="100%">
      <source src="assets/videoplayback.mp4" type="video/mp4" >
    </video>
    <div class="overlay">
      <h1>GHOST DATA CENTER</h1>
      <div class="wrapper">
        <div class="item item1">
          <p>Almacenamiento</p>
        </div>
        <div class="item item2">
          <p>Datos</p>
        </div>
        <div class="item item3">
          <p>Procesamiento</p>
        </div>
        <div class="item item4">
          <p>Seguro</p>
        </div>
        <div class="item item5">
          <p>Velocidad</p>
        </div>
        <div class="item item6">
          <p>Robusto</p>
        </div>
        <div class="item item7">
          <p>Profesional</p>
        </div>
        <div class="item item8">
          <p>Pato</p>
        </div>
      </div>
    </div>

  </div>
  <div class="introduccion">
    <div class="texto-introduccion">
      <p>Un centro de datos soporte el almacenamiento y procesamiento de datos, proporcionando un espacio adecuado y seguro para grandes volúmenes de información.</p>
    </div>
    <div class="imagen-introduccion-derecha">
      <img src="assets/introduccion.jpg" alt="ejemplo del centro de datos">
    </div>
  </div>
  <div class="zona-de-uso">
    <div class="titulo-imagen-zona">
      <h1>Zona de uso</h1>
      <p>Ubicado en el municipio de Hidalgo del Parral, en la calle Ferrocarril Central.</p>
    </div>
    <div class="imagen-zona">
      <img src="assets/zona-de-uso.jpg" alt="Zona de uso">
    </div>
  </div>
  <div class="areas">
    <h1>Distribucion de las Areas</h1>
    <div class="wrapperImagenes">
      <div class="container">
        <input type="radio" name="slide" id="c1" checked>
        <label for="c1" class="card">
          <div class="row">
            <div class="icon"> <fa-icon [icon]="falobby"></fa-icon> </div>
            <div class="description">
              <h4>Lobby</h4>
              <p>Área de recibimiento de toda persona que ingrese al centro de datos, constando de una recepción y sala de espera, contando con las comodidades pertinentes para una persona.</p>
            </div>
          </div>
        </label>
        <input type="radio" name="slide" id="c2">
        <label for="c2" class="card">
          <div class="row">
            <div class="icon"> <fa-icon [icon]="faexit"></fa-icon> </div>
            <div class="description">
              <h4>Salidas de emergencia</h4>
              <p>Ubicada del otro lado del Centro de Datos, para hacer un mejor aprovechamiento de las salidas teniendo dos salidas en cada extremo del Centro de Datos.</p>
            </div>
          </div>
        </label>
        <input type="radio" name="slide" id="c3">
        <label for="c3" class="card">
          <div class="row">
            <div class="icon"> <fa-icon [icon]="fabath"></fa-icon> </div>
            <div class="description">
              <h4>Baños</h4>
              <p>Contando con unos baños en el área principal del Centro de Datos, teniendo el acceso del parte del lobby. </p>
            </div>
          </div>
        </label>
        <input type="radio" name="slide" id="c4">
        <label for="c4" class="card">
          <div class="row">
            <div class="icon"><fa-icon [icon]="faseguridad"></fa-icon></div>
            <div class="description">
              <h4>Seguridad</h4>
              <p>Teniendo acceso desde el pasillo de Centro de Datos, será el área donde se encuentren todo lo que a seguridad se refiere, tales como cámaras yo había visto un mapa. </p>
            </div>
          </div>
        </label>
      </div>
    </div>
    <div class="wrapperImagenes">
      <div class="container">
        <input type="radio" name="slide" id="c5">
        <label for="c5" class="card">
          <div class="row">
            <div class="icon"><fa-icon [icon]="faoffice"></fa-icon></div>
            <div class="description">
              <h4>Oficinas</h4>
              <p>Área administrativa del Centro de Datos, donde se contarán diferentes escritorios donde todos los trabajadores podrán ejercer su labor.</p>
            </div>
          </div>
        </label>
        <input type="radio" name="slide" id="c6">
        <label for="c6" class="card">
          <div class="row">
            <div class="icon"><fa-icon [icon]="fageneradores"></fa-icon></div>
            <div class="description">
              <h4>Generadores</h4>
              <p>Área donde se encontrarán los diferentes generadores, de tal manera de tener una fuente de energía alternativa en caso de haber fallas de luz.</p>
            </div>
          </div>
        </label>
        <input type="radio" name="slide" id="c7">
        <label for="c7" class="card">
          <div class="row">
            <div class="icon"><fa-icon [icon]="fadata"></fa-icon></div>
            <div class="description">
              <h4>Centro de datos</h4>
              <p>Zona principal, lugar donde se encontrará el área de servidores con todos los componentes necesarios para el mismo. </p>
            </div>
          </div>
        </label>
        <input type="radio" name="slide" id="c8">
        <label for="c8" class="card">
          <div class="row">
            <div class="icon"><fa-icon [icon]="faalmacen"></fa-icon></div>
            <div class="description">
              <h4>Almacen</h4>
              <p>Falta descripcion</p>
            </div>
          </div>
        </label>
      </div>
    </div>
    </div>

</main>
<footer>
  <div class="footer-content">
    <p>&copy; 2024 GDC, Inc. Todos los derechos reservados.</p>
    <ul class="footer-links">
      <li><a href="#">Política de Privacidad</a></li>
      <li><a href="#">Términos de Servicio</a></li>
      <li><a href="#">Soporte</a></li>
    </ul>
    <div class="social-media">
      <a href="#" aria-label="Facebook">Facebook</a>
      <a href="#" aria-label="Twitter">Twitter</a>
      <a href="#" aria-label="LinkedIn">LinkedIn</a>
    </div>
  </div>
</footer>
